<!DOCTYPE html>

<html>
  <head>
    <title>{% block title %}{% endblock %} - Template</title>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/jquery.sidr.light.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <meta name="description" content="">
    <meta name="" >
    <style>
      li
      {
      display: inline;
      list-style-type: none;
      padding-right: 20px;
      }
      .foo{
        border:3px dashed;
      }
      </style>
  </head>
  <body>

      <div class="content">
          {% block content %}{% endblock %}
      </div>

      <script src='/static/js/jquery-1.10.2.min.js'></script>
      <script src='/static/js/jquery.sidr.min.js'></script>
      <script src='/static/js/script.js'></script>
      <script src='/static/js/bootstrap.min.js'></script>
      <script src='/static/js/prefixfree.min.js'></script>

  </body>
</html>